In [56]:
import pandas as pd
import numpy as np

df = pd.read_csv("sentiment_data.csv")
df.head(3)

,labels,sentence,kor_sentence
0,neutral,"According to Gran, the company has no plans to...","Gran에 따르면, 그 회사는 회사가 성장하고 있는 곳이지만, 모든 생산을 러시아로..."
1,neutral,Technopolis plans to develop in stages an area...,테크노폴리스는 컴퓨터 기술과 통신 분야에서 일하는 회사들을 유치하기 위해 10만 평...
2,negative,The international electronic industry company ...,"국제 전자산업 회사인 엘코텍은 탈린 공장에서 수십 명의 직원을 해고했으며, 이전의 ..."

In [57]:
df['labels']

0        neutral
1        neutral
2       negative
3       positive
4       positive
          ...
4841    negative
4842     neutral
4843    negative
4844    negative
4845    negative
Name: labels, Length: 4846, dtype: object

In [58]:
df['labels'] = df['labels'].apply(lambda x: 0 if x == 'positive' else 1)
df['labels']

0       1
1       1
2       1
3       0
4       0
       ..
4841    1
4842    1
4843    1
4844    1
4845    1
Name: labels, Length: 4846, dtype: int64

In [59]:
(df['labels']==1).sum()

3483

In [60]:
df = df.drop(columns='sentence')
df

      labels                                       kor_sentence
0          1  Gran에 따르면, 그 회사는 회사가 성장하고 있는 곳이지만, 모든 생산을 러시아로...
1          1  테크노폴리스는 컴퓨터 기술과 통신 분야에서 일하는 회사들을 유치하기 위해 10만 평...
2          1  국제 전자산업 회사인 엘코텍은 탈린 공장에서 수십 명의 직원을 해고했으며, 이전의 ...
3          0  새로운 생산공장으로 인해 회사는 예상되는 수요 증가를 충족시킬 수 있는 능력을 증가...
4          0  2009-2012년 회사의 업데이트된 전략에 따르면, Basware는 20% - 4...
...      ...                                                ...
4841       1  런던 마켓워치 -- 은행주의 반등이 FTSE 100지수의 약세를 상쇄하지 못하면서 ...
4842       1  린쿠스키아의 맥주 판매량은 416만 리터로 6.5% 감소했으며 카우노 알루스의 맥주...
4843       1  영업이익은 2007년 68.8 mn에서 35.4 mn으로 떨어졌으며, 선박 판매 이...
4844       1  페이퍼 부문 순매출은 2008년 2분기 241.1 mn에서 2009년 2분기 221...
4845       1   핀란드에서의 판매는 1월에 10.5% 감소한 반면, 국외에서의 판매는 17% 감소했다.

[4846 rows x 2 columns]

In [63]:
df = df.rename(columns={"kor_sentence":"title"})

In [65]:
df = df.rename(columns={"labels":"label"})
df

      label                                              title
0         1  Gran에 따르면, 그 회사는 회사가 성장하고 있는 곳이지만, 모든 생산을 러시아로...
1         1  테크노폴리스는 컴퓨터 기술과 통신 분야에서 일하는 회사들을 유치하기 위해 10만 평...
2         1  국제 전자산업 회사인 엘코텍은 탈린 공장에서 수십 명의 직원을 해고했으며, 이전의 ...
3         0  새로운 생산공장으로 인해 회사는 예상되는 수요 증가를 충족시킬 수 있는 능력을 증가...
4         0  2009-2012년 회사의 업데이트된 전략에 따르면, Basware는 20% - 4...
...     ...                                                ...
4841      1  런던 마켓워치 -- 은행주의 반등이 FTSE 100지수의 약세를 상쇄하지 못하면서 ...
4842      1  린쿠스키아의 맥주 판매량은 416만 리터로 6.5% 감소했으며 카우노 알루스의 맥주...
4843      1  영업이익은 2007년 68.8 mn에서 35.4 mn으로 떨어졌으며, 선박 판매 이...
4844      1  페이퍼 부문 순매출은 2008년 2분기 241.1 mn에서 2009년 2분기 221...
4845      1   핀란드에서의 판매는 1월에 10.5% 감소한 반면, 국외에서의 판매는 17% 감소했다.

[4846 rows x 2 columns]

In [67]:
df.to_csv("뉴스 제목 데이터.csv")